// Define variables for your color scheme
$main: #ea8a8a; //PEACH COLOUR
$second: #3F3D56; //NAVY COLOUR (HEADINGS)
$accent: #808080; //GREY (SUB/SMALLER HEADINGS)
// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
