.lead-sub {
  font-size: 1.2em;
}

mark {
  background-color: #FBEAEA;
  font-weight: 500;
}

.landing_button {
  transition: all .2s ease-in-out;;
}

.landing_button:hover {
  transform: scale(1.05);
}
