.lead-sub {
  font-size: 1.2em;
}

mark {
  background-color: #FBEAEA;
  font-weight: 500;
}

.text-break-container {
  background-color: #FDF4F4;
}

.blue-font {
  color: $second;
}

#our-mission {
  font-family: $headers-font;
  font-size: 1.35em;
  // color: $second;
}
