.card-button a {
  color: white;
  text-decoration: none;
  font-style: normal;
  font-family: $body-font;
}

.card-button {
  border-radius: 6px;
}

.dash_head {
  min-height: 150px;
}

.dash_content {
  display: flex;
  display: table;
}

#table_center {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  margin: 0 auto;
}

#dash_title {
  font-size: 2.5em;
  color: white;
}

.alata {
  font-family: "Alata";
}

.dash_avatar {
  width: 110px;
}

.max_image_size {
  width: 200px;
  height: 150px;
  border-radius: 15px;
}

@media(max-width:576px) {
  .btn-resize {
    min-width: 180px;
  }
}

@media(max-width:1140px) {
  .hidden-small {
    display: none;
  }
  #dash_title {
    padding: 50px 0 50px 0;
  }
}
