// Specific CSS for your home-page
.fullscreen {
  height: 85vh;
  min-height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: asset-url('home.svg');
}

h1 {
  font-size: 4em;
  color: $second;
  margin-bottom: 30px;
}

.title {
  font-size: 5em;
}

.lead {
  font-size: 1.3em;
}

/* No greater than 900px, no less than 400px */
@media (max-width:1400px) and (min-width:1000px) {
  #cloud1 {
    right: 50vh !important;
  }
}

@media (max-width: 769px) {
  .title {
    font-size: 4em;
  }
  .lead {
    font-size: 1.15em;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-32px);
  }
  100% {
    transform: translatey(0px);
  }
}

#cloud1 {
  width: 60px;
  position: absolute;
  top: 45vh;
  right: 64vh;
  overflow: hidden;
  transform: translatey(0px);
  animation: float 11s ease-in-out infinite;
  img { width: 100%; height: auto; }
}

#cloud2 {
  width: 80px;
  position: absolute;
  top: 45vh;
  right: 15vh;
  overflow: hidden;
  transform: translatey(0px);
  animation: float 16s ease-in-out infinite;
  img { width: 100%; height: auto; }
}

#cloud3 {
  width: 40px;
  position: absolute;
  top: 40vh;
  right: 10vh;
  overflow: hidden;
  transform: translatey(0px);
  animation: float 9s ease-in-out infinite;
  img { width: 100%; height: auto; }
}

.landing_button {
  transition: all .2s ease-in-out;
}

.landing_button:hover {
  transform: scale(1.05);
}
