.box-design {
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.15);
  background-color: white;
}

.background {
  background-image: url('sleep.svg');
  background-repeat: no-repeat;
  background-position: 20%;
}

.background2 {
  background-image: url('home.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
