
  <div class="py-5">
    <div class="container">
      <h1>How can you help change a life and see it happen with your own eyes?</h1>
      <p class="lead">icarebnb gives you direct control over the help you give someone in need.</p>
      <p>
  You help them to ultimately help themselves.  So how does it work?
You control which charities you support.  This can be all of the charities registered with icarebnb or just some of them.
You register with us.  This is the first step to changing lives.  Registration will give you access to information from the icarebnb support charities of your choice.
If you have a spare room, you can register to become a host.
Because charities are putting potentially vulnerable people in your home, the charities may have specific policies to safeguard them.  This can involve criminal record checks home visits and training with practical tips, advice on maintaining boundaries and how to access support.  This can differ from charity to charity but you may want to start the process for criminal record checks soon after you register.  https://dbscheckonline.org.uk/individuals.</p>
    </div>
  </div>

  <!-- Image Section - set the background image for the header in the line below -->
  <div class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1081');">
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="height: 200px;"></div>
  </div>

  <!-- Content section -->
  <div class="py-5">
    <div class="container">
      <h1>Our Mission</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
    </div>
  </div>


  <!-- Image Section - set the background image for the header in the line below -->
  <div class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1081');">
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="height: 200px;"></div>
  </div>

  <!-- Content section -->
  <div class="py-5">
    <div class="container">
      <h1>Social Impact</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
    </div>
  </div>
