<div class="container-fluid" style="background-image: url(<%= asset_path "door.jpg" %>);">
  <div style="padding: 50px;">
    <div class="row">
      <div class="col-12 col-lg-7">
        <h1 class="display-4">Our Mission</h1>
        <p class="lead mt-4">We aim to connect people who want to make a difference by volunteering a room in their house for a select period of time to charities who are in contact with those most in need. <br><br>There are over 300,000 homeless people in the UK and we hope we can make a difference by bringing volunteers and the homeless together to arrange temporary accomodation.</p>
        <div class="form-actions btn btn-secondary mt-4">
          <%= link_to "Join as a Host", new_user_registration_path, class: "nav-link" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-4">
      <%= image_tag "icare_logo_main.svg", class: "rounded mt-5", style: "max-height: 250px;" %>
    </div>
    <div class="col-12 col-md-8">
      <h3 class="ml-4 mt-5">How can you help change a life and see it happen with your own eyes?</h3>
      <p class="ml-4 lead pt-4">icarebnb gives <mark>you direct control</mark> over the help you give someone in need. You help them to ultimately help themselves.<br><br> So how does it work?
        <br><br>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-8">
      <h3 class="ml-4 mt-md-2">If you have a spare room, you can register to become a host</h3>
      <p class="ml-4 lead pt-4 mb-md-5">When a charity contacts you through icarebnb to see if you can host a specific guest, you should <mark>ask as many questions as you need</mark> to to get comfortable with hosting that guest. <br><br>That is a great opportunity to see how that guest has
      been vetted by the charity. Ideally, hosts provide somewhere for guests to wash, eat and sleep. You can ultimately do as much or as little as you can or would like to.
    </div>
    <div class="col-12 col-md-4">
      <%= image_tag "sleep.svg", class: "rounded mb-5 pt-md-3" %>
    </div>
  </div>
</div>

