<h2> Welcome <%= current_user.first_name %>- this is your dashboard.</h2>


<table class="table table-inbox table-hover">
<tbody>
  <tr class="unread">
      <td class="inbox-small-cells">
          <input type="checkbox" class="mail-checkbox">
      </td>
      <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
      <td class="view-message  dont-show">PHPClass</td>
      <td class="view-message ">Request for a new room</td>
      <td class="view-message  inbox-small-cells"><i class="fa fa-paperclip"></i></td>
      <td class="view-message  text-right">9:27 AM</td>
  </tr>
  <tr class="unread">
      <td class="inbox-small-cells">
          <input type="checkbox" class="mail-checkbox">
      </td>
      <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
      <td class="view-message dont-show">Google Webmaster </td>
      <td class="view-message">Improve the search presence of WebSite</td>
      <td class="view-message inbox-small-cells"></td>
      <td class="view-message text-right">March 15</td>
  </tr>
  <tr class="">
      <td class="inbox-small-cells">
          <input type="checkbox" class="mail-checkbox">
      </td>
      <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
      <td class="view-message dont-show">JW Player</td>
      <td class="view-message">Last Chance: Upgrade to Pro for </td>
      <td class="view-message inbox-small-cells"></td>
      <td class="view-message text-right">March 15</td>
  </tr>
  <tr class="">
      <td class="inbox-small-cells">
          <input type="checkbox" class="mail-checkbox">
      </td>
      <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
      <td class="view-message dont-show">Tim Reid, S P N</td>
      <td class="view-message">Boost Your Website Traffic</td>
      <td class="view-message inbox-small-cells"></td>
      <td class="view-message text-right">April 01</td>
  </tr>
  <tr class="">
      <td class="inbox-small-cells">
          <input type="checkbox" class="mail-checkbox">
      </td>
      <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>
      <td class="view-message dont-show">Freelancer.com <span class="label label-danger pull-right">urgent</span></td>
      <td class="view-message">Stop wasting your visitors </td>
      <td class="view-message inbox-small-cells"></td>
      <td class="view-message text-right">May 23</td>
  </tr>
</tbody>
</table>

