<div class="fullscreen">
  <div class="container h-100">
    <div class="col-12">
      <h1 class="mt-5 title">icarebnb</h1>
    </div>
    <div class="col-12 col-md-10 col-lg-7 mt-4">
      <p class="lead">Over 300,000 people in the UK are homeless. If you lose your home, you have a window to get back on your feet. If the window closes, so can your future.</p>
      <br>
      <p class="lead">We need your help to provide temporary accomodation for those most in need, there are currently not enough services to provide for everyone.</p>
    </div>
    <div class="col-12">
      <div class="form-actions btn btn-secondary mt-4">
        <%= link_to "Get involved", about_path, class: "nav-link" %>
      </div>
    </div>
  </div>
</div>
