<div class="fullscreen">
  <div class="container h-100">
    <div class="col-12">
      <h1 class="mt-5">icarebnb</h1>
    </div>
    <div class="col-12 col-md-10 col-lg-8 mt-4">
      <h4>Over 300,000 people in the UK are homeless. If you lose your home, you have a window to get back on your feet.</h4>
      <br>
      <h4>If the window closes, so can your future.</h4>
    </div>
    <div class="col-12">
      <div class="form-actions btn btn-secondary mt-4">
        <%= link_to "Get involved", search_path, class: "nav-link" %>
      </div>
    </div>
  </div>
</div>
