<div class="fullscreen">
  <div class="container h-100">
    <div class="col-12">
      <h1 class="mt-3 mt-lg-5 title">icarebnb</h1>
    </div>
    <div class="col-12 col-md-10 col-lg-7 mt-4">
      <p class="lead mb-4"> Over 300,000 people in the UK are homeless. Seven out of 10 families caring for someone with profound and multiple learning disabilities have been on the edge of breaking point without the short breaks they so desperately need.  Millions are fleeing wars and persecution around the world.  </p>
      <p class="lead">The need is big.  The need is urgent.  </p>
      <p class="lead">Get involved to provide temporary accomodation for those most in need.</p>
    </div>
    <div class="col-12">
      <div class="form-actions btn btn-secondary mt-4 landing_button">
        <%= link_to "Get involved", about_path, class: "nav-link" %>
      </div>
    </div>
  </div>
  <!-- OUTSIDE CONTAINER -->
  <div id="cloud3" class="d-none d-xl-block">
    <%= image_tag ("cloud.svg") %>
  </div>
  <div id="cloud2" class="d-none d-xl-block">
    <%= image_tag ("cloud.svg") %>
  </div>
  <div id="cloud1" class="d-none d-xl-block">
    <%= image_tag ("cloud.svg") %>
  </div>
</div>
