
      <div class="container">
        <h1>Search for a room</h1>
        <p>Rent unique places to stay from local hosts in 190+ countries.</p>
        <form action="#" class="form-inline">
          <input type="text" class="form-control input-lg" placeholder="Location">
          <select name="" id="" class="form-control input-lg">
            <option value="1">1 person</option>
            <option value="2">2 persons</option>
            <option value="3">3 persons</option>
          </select>
          <input type="submit" class="btn btn-primary btn-lg" value="Search">
        </form>
      </div>



