<div class="background">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9 offset-md-3 col-lg-8 offset-lg-4">
        <div class="mt-5 p-5 box-design">
          <h1>Search for a room</h1>
          <h5 class="mb-5">Please enter the below information then click search.</h5>
          <form>
            <div class="form-group">
              <label for="Location">Location of room required:</label>
              <input type="email" class="form-control" id="Location" placeholder="e.g. Hoxton">
            </div>
            <div class="form-group">
              <label for="Beds">Beds required:</label>
              <select class="form-control" id="">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="mt-4">
              <%= link_to "Search", search_path, class: "nav-link" %>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

