<h1>Unavailabilities#new</h1>
<p>Find me in app/views/unavailabilities/new.html.erb</p>
<%= simple_form_for [@room, Unavailability.new] do |f| -%>
  <%= f.input :date, as: :string %>
  <%= f.submit %>
<% end %>
