.main-back {
  background-color: #F2F2F2;
  color: white;
}

.main-modal {
  background-color: $main;
  color: white;
}

.footer-header {
  font-family: $headers-font;
  min-width: 155px;
  float: right;
}

.main-font {
  font-family: $headers-font;
}

.no-style {
  color: $second;
}

.no-style:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.blue {
  background-color: $second;
}

.blue-text {
  color: $second;
}

.send {
  color: white;
}

.send:hover {
  color: #e5e5e5;
}

.inline {
  display: inline;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 5rem; /* Footer height */
}

#footer {
  margin-top: -5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (max-width: 769px) {
  .footer-header {
    float: none;
  }
}

@media (max-width: 769px) {
  #footer {
  margin-top: 13rem;
  }
  #content-wrap {
  padding-bottom: 13rem; /* Footer height */
  }
}
