.notification-badge {
  position: absolute;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border-radius: 50%;
  background: $second;
  color: white;
  top: 8px;
  right: -25px;
z-index: 100;
}

// .margin-avatar {
//   margin-left: 40px;
// }

@media only screen and (max-width: 767px) {
  .margin-avatar {
   margin-left: 8px;
  }
  .notification-badge {
    right: 465px;

  }
}


.inbox-fix {
  margin-right: 40px !important;
}
