.mapboxgl-popup {
  max-width: 300px;
  border-radius: 50%;
}
.ap-suggestions {
  color: black;
}
.mapboxgl-popup-content {
  text-align: center !important;
  font-family: $body-font;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;

  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 20px !important;
  a {
    text-decoration: none;
    font-family: 'Open Sans', 'Helvetica', 'sans-serif';
    color: $accent;
    font-size: 0.8em;

    img {
    border-radius: 5%;
    width: 100%;

    overflow: hidden;

    }
  }
}
