.chat-message {
  color: white;
}

.color-blue {
  color: blue;
}

body {
      font-family: 'Tajawal', sans-serif;
     }
     .full-page {
       height: 100vh;
       width: 100vw;
       overflow: hidden;
     }
     .jumbotron {
       margin-top: 8rem;
     }
     .popup-wrapper {
       height: 20rem;
       position: fixed;
       right: 1rem;
       bottom: 0;
       border-top-left-radius: 15px;
       border-top-right-radius: 15px;
     }
     .popup-head {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      text-align: center;
      cursor: pointer;
        p {
          margin: 0;
        }
     }
     .popup-trigger {
      height: 2rem;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      position: fixed;
      bottom: 0;
      right: 1rem;
      cursor: pointer;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
        p {
          margin: 0;
          font-weight: 900;
        }
      }
      .chat-bubble {
        border-radius: 10px;
        background-color: rgba(222, 118, 109, 0.8);
        padding: 5px;
        // float: right;
      }

      .chat-bubble-right {
        border-radius: 10px;
        background-color: rgba(222, 118, 109, 0.3);
        padding: 5px;
        // float: right;
      }

      .chatbox {
        max-width: 60%;

      }

      .chat-details {
      font-size: 0.7em;
      margin: 0;
      }

      .chats {
        height: 23vh;
        overflow: scroll;
      }
      .dashboard-sidebar-chat {
        border-radius: 3px;
        margin: 1rem 0;
        padding: 0.2rem .5rem;
        cursor: pointer;
        a {
          text-decoration: none;
          color: unset;
        }
      }
      .admin-chats {
        height: 70vh;
        overflow: scroll;
      }


@import url('https://fonts.googleapis.com/css?family=Tajawal');
