.navbar-icare {
  justify-content: space-between;
  background: $main;
}

.navbar-icare .navbar-collapse {
  flex-grow: 0;
}

.navbar-icare .navbar-brand img {
  width: 50px;
}

.nav-link {
  margin: 0 10px;
  color: white !important;
  font-family: "Alata", "Helvetica", "sans-serif";
  letter-spacing: 0.03em;
  font-size: 0.95em;
  transition: all .2s ease-in-out;
}

.nav-link:hover {
  color: #e5e5e5 !important;
  transform: scale(1.04);
}
